/*Main html*/

* {
  box-sizing: border-box;

}

html,
body,
main {
  margin: 0;
  padding: 0;

  background-image: url("/img/the-nix-company-ljvm17bH-e0-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: auto;


}

body {
  height: 100vh;
  width: 100vw;
}

div {
  height: 100%;
  width: 100%;
}

header {
  justify-items: center;
  background-color: burlywood;
}


h1 {
  height: 3rem;
  width: 100%;
  font-size: 2.5rem;
  background-color: brown;
  color: burlywood;
  text-align: center;
  justify-content: center;
  border: 5px solid burlywood;
  margin: 2px;

}

h2 {
  font-size: 1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  justify-content: center;
  color: burlywood;
  background-color: brown;
}

body {
  margin: 0;
}
.container{
  display: flex;
  justify-content: center;
}
form.form1 {
  height: fit-content;
  width: max-content;
  border: 3px solid brown;
  color: black;
  font-size: 1rem;
  background-color: burlywood;
  padding: 30px 30px;

}

div {
  margin-bottom: 2px;
  background-color: brown;
  
}

label {
  padding: 10px 10px;
  color: burlywood;
}

.submit-button {
  display: flexbox;
  justify-items: center;
  background-color: brown;
  color: burlywood;
  padding: 5px 5px;
  margin-top: 8px;

}

footer.button {
  color: burlywood;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background-color: brown;
  border: 3px solid burlywood;

}

/*form CSS*/


.submit-message {
  padding: 1em;
  text-align: center;
  color: #fff;

}