/*General styling*/

* {
  box-sizing: border-box;

}

html,
body,
main {
  margin: 0;
  padding: 0;
  background-image: url("/img/the-nix-company-ljvm17bH-e0-unsplash.jpg");
  background-repeat: no-repeat;
}

/*Layout*/

body {
  height: 100vh;
  width: 100vw;
}

div {
  height: 100%;
  width: 100%;
}

header {
  margin-bottom: 1em;
  justify-items: center;
  background-color: burlywood;
}


h1 {

  width: 100%;
  font-size: 2.5rem;
  background-color: brown;
  color: burlywood;
  text-align: center;
  justify-content: center;
  border: 5px solid burlywood;
  margin: 2px;

}

h2 {
  font-size: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
  color: burlywood;
  background-color: brown;
}

h3 {
  text-align: center;
  background-color: brown;
}

/*form 1*/
.container {
  display: flex;
  justify-content: left;
  height: 300px;
  width: 600px;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 10%;
}

form.form1 {

  height: fit-content;
  width: 250px;
  border: 3px solid brown;
  color: black;
  font-size: 1rem;
  background-color: burlywood;

}

/*form 2*/
form.form2 {
  height: fit-content;
  width: 230px;
  background-color: burlywood;
  border: 3px solid brown;
  color: burlywood;



}

.container2 {
  display: flex;
  justify-content: right;
  padding-bottom: 80%;
  margin-right: 30%;

}

div {
  padding: 2px 2px;
  margin-bottom: 2px;
  background-color: brown;

}

label {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  padding: 60px 60px;
  color: burlywood;
}

select,
option {
  width: 200px;

}


.submit-button {
  display: flexbox;
  height: 50px;
  width: 80px;
  ;
  background-color: brown;
  color: burlywood;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 25%;

}

.submit-message {
  padding: 1em;
  text-align: center;
  color: #fff;

}

/*footer and url link*/

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background-color: brown;
  border: 3px solid burlywood;

}

.nav-button {
  height: 40px;
  display: flex;
  color: brown;
  justify-content: center;
}

nav#view {
  margin-top: 10px;
  height: 30px;
  width: 40px;
  padding-top: 3px;
  justify-self: center;
  background-color: burlywood;
  color: brown;
}